configs/vim/vim/plugged/*
!/configs/vim/vim/plugged/.gitkeep
/configs/zsh/configs/development.zsh
/configs/vim/vim/sessions

roles/user-configs/files/vim/vim/plugged/lightline.vim
roles/user-configs/files/vim/vim/plugged/ansible-vim
roles/user-configs/files/vim/vim/plugged/ctrlp.vim
roles/user-configs/files/vim/vim/plugged/emmet-vim
roles/user-configs/files/vim/vim/plugged/fzf.vim
roles/user-configs/files/vim/vim/plugged/nerdcommenter
roles/user-configs/files/vim/vim/plugged/nerdtree
roles/user-configs/files/vim/vim/plugged/supertab
roles/user-configs/files/vim/vim/plugged/syntastic
roles/user-configs/files/vim/vim/plugged/tagbar
roles/user-configs/files/vim/vim/plugged/tlib_vim
roles/user-configs/files/vim/vim/plugged/ultisnips
roles/user-configs/files/vim/vim/plugged/unite.vim
roles/user-configs/files/vim/vim/plugged/vim-addon-mw-utils
roles/user-configs/files/vim/vim/plugged/vim-airline
roles/user-configs/files/vim/vim/plugged/vim-ansible-yaml
roles/user-configs/files/vim/vim/plugged/vim-commentary
roles/user-configs/files/vim/vim/plugged/vim-easymotion
roles/user-configs/files/vim/vim/plugged/vim-fugitive
roles/user-configs/files/vim/vim/plugged/vim-gitgutter
roles/user-configs/files/vim/vim/plugged/vim-markdown
roles/user-configs/files/vim/vim/plugged/vim-snippets
roles/user-configs/files/vim/vim/plugged/vim-startify
roles/user-configs/files/vim/vim/plugged/vimproc.vim
roles/user-configs/files/vim/vim/sessions/home/rubemlrm/session.vim
roles/user-configs/files/vim/vim/sessions/home/rubemlrm/.ssh/session.vim
roles/user-configs/files/vim/vim/sessions/home/rubemlrm/bin/dotfiles/session.vim
tests/docker/fedora29.Dockerfile
