/roles/user-configs/files/vim/vim/plugged
!/roles/user-configs/files/vim/vim/plugged/.gitkeep
/configs/zsh/configs/development.zsh
/configs/vim/vim/sessions
*.retry
colors/
sessions/
collections
.actr
.cache
